@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color:white;
    --secondary-color: #ffffff; /* default fallback */
    --ternary-color: #aaaaaa; /* default fallback */
  }

.primary{
    border: 2px solid var(--ternary-color);
    background-color: var(--primary-color);
  }

  .secondary{
    border: 1px solid var(--ternary-color);
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  }

  .ternary{
    border-color: var(--ternary-color);
  }

  .gradient {
    background: linear-gradient(to right, var(--secondary-color), #ffffff22);
  }
