@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

:root {
    --secondary-color: #ffffff; /* default fallback */
    --ternary-color: #ffffff; /* default fallback */
  }

  button{
    background-color: var(--secondary-color);
    border: 1px solid var(--ternary-color);
    border-radius: 8px;
  }