* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
  margin: 0;
}

h1 {
  padding-bottom: 20px;
  padding-top: 5px;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.link__span {
  text-decoration: none;
  cursor: pointer;
}

.link__span:hover {
  text-decoration: underline;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
  cursor: pointer;
}

.carousel img {
  height: 500px;
  width: 600px;
  padding: 30px;
  display: flex;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

/**/

.carousel-control-prev,
        .carousel-control-next {
          width: auto;
          padding: 0 1rem;
          opacity: 1;
        }
        
        .carousel-indicators {
          bottom: 1rem;
        }
        
        .carousel-indicators button {
          width: 12px !important;
          height: 12px !important;
          border-radius: 50% !important;
          background-clip: padding-box !important;
          border: none !important;
          margin: 0 5px !important;
          opacity: 1 !important;
        }
        
        .carousel-indicators button.active {
          background-color: rgb(79, 70, 229) !important;
          transform: scale(1.25);
        }
        
        .carousel-caption {
          position: relative;
          right: auto;
          bottom: auto;
          left: auto;
          padding-top: 0;
          padding-bottom: 0;
          color: inherit;
          text-align: left;
        }